@using System.Globalization
@model IEnumerable<Expense_Tracker.Models.Expense>

     

<div class="glass-container">
    <div class="expense-header ">
        Expense
    </div>

    <div class="search-container mt-5">
        <form method="get" asp-action="Index" class="search-form">
            <input type="text" name="searchString" class="search-input" placeholder="Search..." value="@ViewData["SearchString"]">
        </form>        <div class="button-group">
            <div class="dropdown">
                <button class="dropbtn">
                    <i class="fas fa-file-export"></i> Export
                </button>
                <div class="dropdown-content">
                    <a href="#">Excel</a>
                    <a href="#">PDF</a>
                </div>
            </div>
            <button class="add-btn">
                <a asp-action="Create" class="button-link">
                    <i class="fas fa-plus"></i> Add new expense
                </a>
            </button>

        </div>
    </div>

    <div class="expenses-title mt-5">
        List of expenses
    </div>




    <div class="tbl-container bdr mt-4">
        <table class="table">
            <thead class="bg-color">
                <tr>
             
                    <th>
                            @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.User)
                    </th>
                    <th>Actions</th>
                </tr>

            </thead>
            <tbody class="table-borderless" style="color:white;border-color:transparent">

                 



                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Password)
                        </td>
                        <td>

                        <button class="action-btn edit-btn" title="Edit">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="button-link">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                        </button>
                        <button class="action-btn delete-btn" title="Delete">
                            <a asp-action="Delete" asp-route-id="@item.Id" class="button-link">
                                <i class="fas fa-trash"></i> Delete
                            </a>
                        </button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Pagination controls -->
    <div class="pagination mt-4">
        <a href="#" class="prev">&laquo; Previous</a>
        <a href="#" class="page-number active">1</a>
        <a href="#" class="page-number">2</a>
        <a href="#" class="page-number">3</a>
        <a href="#" class="next">Next &raquo;</a>
    </div>
</div>


